<div class="O_InspectraTopics">
    <%= render 'shared/quarks/Q_Icon', name: 'Q_ConsoleIcon' %>
    <div class="O_InspectraTopics-Content">
        <div class="O_InspectraTopics-Content-Item">
            <span class="O_InspectraTopics-Content-Item-Order text-p-1-mono">01</span>
            <p class="text-p-1-mono">&lt;dev_dive&gt; — разбираем сайты по слоям DOM, cookies, network, поведение браузера</p>
        </div>
        <div class="O_InspectraTopics-Content-Item">
            <span class="O_InspectraTopics-Content-Item-Order text-p-1-mono">02</span>
            <p class="text-p-1-mono">&lt;legacy_mode&gt; — копаемся в старых системах устаревший код, архитектурные ошибки</p>
        </div>
        <div class="O_InspectraTopics-Content-Item">
            <span class="O_InspectraTopics-Content-Item-Order text-p-1-mono">03</span>
            <p class="text-p-1-mono">&lt;security_lab&gt; — безопасные симуляции атак фишинг, XSS, социальная инженерия</p>
        </div>
        <div class="O_InspectraTopics-Content-Item">
            <span class="O_InspectraTopics-Content-Item-Order text-p-1-mono">04</span>
            <p class="text-p-1-mono">&lt;bughunt&gt; — охота на баги ищем, воспроизводим и понимаем ошибки</p>
        </div>
    </div>
</div>