<%
  name = local_assigns[:name] || 'Интерактив'
  href = local_assigns[:href]
%>
<button class="M_ToastInteractive"
        style="display: none;"
        data-interactive-name="<%= name %>"
        <% if href.present? %>data-interactive-href="<%= href %>"<% end %>>
    <%= render 'shared/quarks/Q_Icon', name: 'Q_AsteriskIcon', width: 24, height: 24 %>
    <span class="M_ToastInteractive-Text text-p-1-mono">обнаружен интерактив! &gt;&gt;&gt;</span>
</button>
