<footer class="O_Footer">
  <div class="O_Footer-Content">
      <div class="O_Footer-Content-Side">
        <ul class="O_Footer-Content-Side-List">
          <li class="O_Footer-Content-Side-Item text-p-1">
            → machere13
          </li>
          <li class="O_Footer-Content-Side-Item text-p-1">
            → ТОЛСТОВА МАРИЯ
          </li>
          <li class="O_Footer-Content-Side-Item text-p-1">
            → АБАЗИНА АНАСТАСИЯ
          </li>
        </ul>
      </div>
      <div class="O_Footer-Content-Center">
        <%= render 'shared/atoms/A_LinkButton', text: 'Telegram', href: 'https://t.me/inspectra_MVP_bot', target: '_blank' %>
        <p class="O_Footer-Content-Center-Text text-p-1"> Следите за нами в Telegram</p>
      </div>
      <div class="O_Footer-Content-Side O_Footer-Content-Side-Right">
        <ul class="O_Footer-Content-Side-List">
          <li class="O_Footer-Content-Side-Item text-p-1">
            КУРАТОРЫ →
          </li>
          <li class="O_Footer-Content-Side-Item text-p-1">
            НОЗДРИН ФЕДОР
          </li>
          <li class="O_Footer-Content-Side-Item text-p-1">
            ХАРИТОНОВ ЗАХАР
          </li>
        </ul>
      </div>
  </div>
</footer>