<%
  unread_items = local_assigns[:unread_items] || [
    { title: 'Отправитель 1', text: 'Непрочитанное сообщение 1', read: false },
    { title: 'Отправитель 2', text: 'Непрочитанное сообщение 2', read: false }
  ]
  archived_items = local_assigns[:archived_items] || [
    { title: 'Отправитель 3', text: 'Архивное сообщение 1', read: true },
    { title: 'Отправитель 4', text: 'Архивное сообщение 2', read: true }
  ]
%>
<div class="O_Notifications">
  <%= render 'shared/wrappers/W_NotificationsBar', unread_items: unread_items %>
  <%= render 'shared/wrappers/W_NotificationItems', unread_items: unread_items, archived_items: archived_items %>
</div>

