<nav class="W_Navigation">
  <%= render 'shared/molecules/M_NavigationItem', text: 'ГЛАВНАЯ', href: root_path, hotkey: 'Г' %>
  <%= render 'shared/molecules/M_NavigationItem', text: 'ИНСПЕКТРА', href: inspectra_path, hotkey: 'И' %>
</nav>
